<h1>Hi, <%= @user.name %>, you have indicated that you forgot your password.</h1>
  <!--<p>-->
  <!--  You have successfully signed up to example.com,-->
  <!--  your username is: <%= @user.username %>.<br>-->
  <!--</p>-->
  <p>Have a great day.</p>