<div class="pricing-header px-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Edit Job</h1>
    <div class="justify-content-center mx-auto pb-md-4">
      <%= render 'form' %>
    </div>
</div>