<div class="px-4 text-center">
    <div class="pricing-header px-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4">About</h1>
      <p class="lead">This platform was created in 2022 for a class project. The aim is to help BYUH students find out the pros and cons behind each on-campus/PCC job so they can consider which job suits them the most.</p>
       <%= image_tag "about", alt: "Different jobs on-campus and PCC", class: "img-fluid mx-auto d-block w-100 about-image" %>
    </div>
</div>