<!--Start Hero-->
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Rate My Job</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Finding for an on-campus or PCC jobs has never been easier! Take a look at what those in the position have said, only in RateMyJob.com.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Sign Up</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">See Jobs</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <!--<img src="" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Student looking for jobs" width="700" height="500" loading="lazy">-->
      <%= image_tag "hero", alt: "Student looking for jobs" %>
    </div>
  </div>
</div>
<!--End Hero-->

<!--Start Features-->
<div class="container px-4 py-5" id="featured-3">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">Why RateMyJob.com?</h3>
      <p class="text-muted">Make the most of your college life with healthy work-life balance using the job reviews submitted by your predecessors.</p>
      <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <div class="d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex fs-4 rounded-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
            <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
            <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
            <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
          </svg>
        </div>
        <h4 class="fw-semibold mb-0">Free, easy to use</h4>
        <p class="text-muted">It's all on us, for your convenience.</p>
      </div>
  
      <div class="d-flex flex-column gap-2">
        <div
          class="feature-icon-small d-inline-flex fs-4 rounded-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
        </div>
        <h4 class="fw-semibold mb-0">Work-school-life balance</h4>
        <p class="text-muted">Deciding on a job is difficult, but it doesn't have to be anymore thanks RateMyJob.com.</p>
      </div>
  
      <div class="d-flex flex-column gap-2">
        <div
          class="feature-icon-small d-inline-flex fs-4 rounded-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </div>
        <h4 class="fw-semibold mb-0">Identity protection</h4>
        <p class="text-muted">All reviews submitted to RateMyJob.com can be anonymous, all you need is just a valid login email.</p>
      </div>
  
      <div class="d-flex flex-column gap-2">
        <div
          class="feature-icon-small d-inline-flex fs-4 rounded-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
          </svg>
        </div>
        <h4 class="fw-semibold mb-0">Easy filtering</h4>
        <p class="text-muted">Save your time by only looking at relevant job categories using our filter functionality.</p>
      </div>
    </div>
  </div>
</div>
    
<!--End Features-->